code{
    background: #88e;
    display: block;
    padding: 2em;
    border: dotted;
    position: relative;
    color: black;
}

code::before{
    content: "Quelltext";
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    font-weight: bold;
}

code.info{
    background: #8e8;
}

code.info::before {
    content: "Information";
}